<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 *
 *
 * @copyright Copyright © 2021 https://headwayit.com/ HeadWayIt. All rights reserved.
 * @author    Ilya Kushnir ilya.kush@gmail.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="order_cancel_after">
        <observer instance="HW\QuickPay\Observer\Sales\OrderCancelAfter" name="quickpay_payment"/>
    </event>
    <event name="sales_order_payment_place_start">
        <observer instance="HW\QuickPay\Observer\Sales\Order\Payment\PlaceStart" name="quickpay_payment"/>
    </event>
</config>
